<footer id="contacto" class="py-3 bg-dark text-white container-fluid w-100">

    <div class="container">

        <div class="row justify-content-center align-items-center text-center g-3">

            <div class="col-auto">
                <img src="images/logo.png" class="logo-round">
            </div>

            <div class="col-auto">
                <p class="mb-0">
                    Cnel. D Elia 1632, Lanús, Buenos Aires
                </p>
            </div>

            <div class="col-auto">
                <p class="mb-0">
                    <a href="tel:+541132007610" class="text-white text-decoration-none">
                        📞 011 3200-7610
                    </a>
                </p>
            </div>

            <div class="col-auto">

                <a href="https://instagram.com/barrilverdeoficial" target="_blank">
                    <img src="images/Instagram_icon.png" class="icon-round">
                </a>

                <a href="https://wa.me/5491132007610" target="_blank">
                    <img src="images/wplogo.png" class="icon-round">
                </a>

            </div>

        </div>

        <div class="text-center mt-3">
            <p class="mb-0">
                © 2026 Barril Verde. Todos los derechos reservados.
            </p>
        </div>

    </div>

</footer>